src/main/mule/implementation-db-papi.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd">
	<flow name="post-db-account-papiFlow" doc:id="106cbe28-89d7-4cbf-8925-b8092bb2db62" >
		<json-logger:logger doc:name="Json-Logger" doc:id="022b20b8-77fa-4ef7-ab48-81a44840afe0" config-ref="JSON_Logger_Config" message="Before starting  DB-PAPI, the payload is this:::::::"/>
		<ee:transform doc:name="fetching only Internal ID by using flatten function" doc:id="dd17b749-e97b-4dd9-8cec-5a9d168f7a3f" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload.eventData.internalId joinBy ""]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<json-logger:logger doc:name="Logger" doc:id="09c5cc18-dead-4e44-aa40-f3a6c9557ed8" config-ref="JSON_Logger_Config" message="This ID is used to fetch the three objects which is in salesforce:::::::"/>
		<set-variable value="#[payload]" doc:name="StoringBillingId" doc:id="b81572ae-f3e6-428c-a8cf-989bbbc87b7a" variableName="BillingId" />
		<ee:transform doc:name="writing-Query to fetch Billing Obj, Account obj, contactObj based on AccountId" doc:id="d99613ed-02b7-470e-a5aa-1a75364d6598">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"compositeRequest": [
		 {
      "method": "GET",
      "url": "/services/data/v51.0/query/?q=SELECT AccountId__c FROM BillingJunction__c where Id='" ++ payload as String ++ "'",
      "referenceId": "a"},
 {
      "method": "GET",
      "url": "/services/data/v51.0/query/?q=SELECT LastName__c,FirstName__c,MiddleName__c FROM contact__c WHERE AccountId__c= '@{a.records[0].AccountId__c}'",
      "referenceId": "b"},
      		 {
      "method": "GET",
      "url": "/services/data/v51.0/query/?q=SELECT Name,QS_Bill_To_Email__c,Phone__c FROM account__c WHERE Id='@{a.records[0].AccountId__c}'",
      "referenceId": "c"}


	]
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="values of sfdc/sapi to get data" doc:id="704cf850-bd56-4876-9966-58603ae1969b" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="basepath" ><![CDATA["/api/sapi"]]></ee:set-variable>
				<ee:set-variable variableName="path" ><![CDATA["/sfdc/accounts"]]></ee:set-variable>
				<ee:set-variable variableName="method" ><![CDATA["POST"]]></ee:set-variable>
				<ee:set-variable variableName="port" ><![CDATA['${http.req.sfdc.port}']]></ee:set-variable>
				<ee:set-variable variableName="host" ><![CDATA['${http.req.host}']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="calling to common HttpRequest" doc:id="fec35ea6-1a8e-4b57-be77-ae3f76f1ac1b" name="common-HttpRequestSub_Flow"/>
		<ee:transform doc:name="output of query" doc:id="47b4f541-18b6-4157-8c9a-603b06a73803">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<json-logger:logger doc:name="Logger" doc:id="f6513475-b413-49fc-b33c-74623dc48711" config-ref="JSON_Logger_Config" message="After Fecthing the data from three Objects, The payload is this ::::::"/>
		<ee:transform doc:name="mapping to database fields" doc:id="d851510a-1041-4aae-8dbd-2fe603413f07">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
var a= flatten(payload.compositeResponse.body.records) reduce($$ ++ $)
---
{
   "AccountName": a.Name,
   "AccountNumber": a.AccountId__c,
   "FirstName": a.FirstName__c,
   "LastName": a.LastName__c,
   "MiddleName": a.MiddleName__c,
   "Phone": a.Phone__c,
   "Email": a.QS_Bill_To_Email__c
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<json-logger:logger doc:name="Logger" doc:id="841d2396-8134-4fa1-826b-460eca7b2b25" config-ref="JSON_Logger_Config" message="After Fecthing the data from three Objects mapping to DB-SAPI, After Mapping the payload and inserting into DB, Before inserting the payload is this:::::"/>
		<ee:transform doc:name="values of /db/sapi to insert data" doc:id="be8d72c1-22e3-4a2d-a506-caae2459be85" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="basepath" ><![CDATA["/api/sapi"]]></ee:set-variable>
				<ee:set-variable variableName="path" ><![CDATA["/db/accounts"]]></ee:set-variable>
				<ee:set-variable variableName="port" ><![CDATA["8081"]]></ee:set-variable>
				<ee:set-variable variableName="method" ><![CDATA["POST"]]></ee:set-variable>
				<ee:set-variable variableName="host" ><![CDATA["localhost"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="calling to common HttpRequest" doc:id="fece5fa7-4556-49ae-8357-2cb911375529" name="common-HttpRequestSub_Flow"/>
		<ee:transform doc:name="output of database" doc:id="a0335d47-8c15-4774-91b4-af4bdc3089db">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<json-logger:logger doc:name="Logger" doc:id="200312f4-bece-4582-b528-48b191aaba49" config-ref="JSON_Logger_Config" message="After insert into DB, The payload is this::::::"/>
		<choice doc:name="Choice" doc:id="506d2bd3-c976-4fe2-975f-aa7339cbb58b">
			<when expression="#[payload.affectedRows == 1]">
				<ee:transform doc:name="Based on billing Id updating status field In-Process to Complete" doc:id="77730056-76cb-4253-a777-fa0ad6e5d0da">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"compositeRequest":[{
		"method": "PATCH",
		"url": "/services/data/v51.0/sobjects/BillingJunction__c/Id/" ++ vars.BillingId as String ,
		"referenceId": "a",
		"body": {
			IntegrationStatus__c: "Completed"
			
		}}]}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<json-logger:logger doc:name="Logger" doc:id="9e97eaaa-4414-485e-9627-6dfba716f62a" config-ref="JSON_Logger_Config" message="After inserting a record into DB, I'm going to update a Status field in Salesforce 'In-Progress' to 'Complete', before update a Status field the payload is this::::::" />
				<ee:transform doc:name="values of /sfdc/sapi to update the record" doc:id="77dd5905-ac52-4efb-8490-1cb8a63d5a1e">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="basepath" ><![CDATA["/api/sapi"]]></ee:set-variable>
						<ee:set-variable variableName="path" ><![CDATA["/sfdc/accounts"]]></ee:set-variable>
						<ee:set-variable variableName="port" ><![CDATA['${http.req.sfdc.port}']]></ee:set-variable>
						<ee:set-variable variableName="method" ><![CDATA["POST"]]></ee:set-variable>
						<ee:set-variable variableName="host" ><![CDATA['${http.req.host}']]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<flow-ref doc:name="calling to common HttpRequest" doc:id="40cc45a4-08fb-440b-acc2-d00ad7683a30" name="common-HttpRequestSub_Flow"/>
				<ee:transform doc:name="output of billingJunction object after Update" doc:id="e9d13e0c-38da-4e71-9e1b-f2c300d7d3b0">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<json-logger:logger doc:name="Logger" doc:id="8c9c4281-84f0-4d8f-bce1-0a7b2abd4dab" config-ref="JSON_Logger_Config" message="After update a Status field to complete, the payload is this::::::: "/>
			</when>
			<otherwise>
				<ee:transform doc:name="Transform Message" doc:id="a4119976-b539-4874-90bc-58ee23a2a347">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	"ErrorMessage": "Record is not inserted into DataBase"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="getById-db-account-papi" doc:id="37659fa5-0c7a-41b1-9c3b-3de74ef75843" >
		<ee:transform doc:name="values of /sapi/db to getBYID" doc:id="638c3bca-38ff-4dd5-980c-ad75937f24de" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="basepath" ><![CDATA["/api/sapi"]]></ee:set-variable>
				<ee:set-variable variableName="path" ><![CDATA["/db/accounts/{id}"]]></ee:set-variable>
				<ee:set-variable variableName="port" ><![CDATA["8081"]]></ee:set-variable>
				<ee:set-variable variableName="method" ><![CDATA["GET"]]></ee:set-variable>
				<ee:set-variable variableName="uriParams" ><![CDATA[{"id": attributes.uriParams.id}]]></ee:set-variable>
				<ee:set-variable variableName="host" ><![CDATA["localhost"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="calling to common HttpRequest" doc:id="1873f89b-8868-4912-9585-6f234699cb8a" name="common-HttpRequestSub_Flow"/>
	</flow>
	<flow name="update-db-account-papi" doc:id="88c13da9-45ab-433b-846f-e1574f0d6cab" >
		<ee:transform doc:name="values of /sapi/db to update the record in db" doc:id="6895a64e-b6f7-450b-a404-b40671a91761" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
			<ee:variables >
				<ee:set-variable variableName="basepath" ><![CDATA["/api/sapi"]]></ee:set-variable>
				<ee:set-variable variableName="path" ><![CDATA["/db/accounts"]]></ee:set-variable>
				<ee:set-variable variableName="port" ><![CDATA["8081"]]></ee:set-variable>
				<ee:set-variable variableName="method" ><![CDATA["PUT"]]></ee:set-variable>
				<ee:set-variable variableName="host" ><![CDATA["localhost"]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref doc:name="calling to common HttpRequest" doc:id="4f62e6a0-bed1-4910-b5cd-a08eb8b015da" name="common-HttpRequestSub_Flow"/>
	</flow>
</mule>
